@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: "none";
}

.no-scrollbar {
  -ms-overflow-style: "none";
  scrollbar-width: "none";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}
