* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100vh;
  width: 100%;
  max-width: 1900px;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #e0b2b2;
}

/* Navbar section starts here */
nav {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbarr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  gap: 40px;
}

.navbar-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 700px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
  border-radius: 10px;
}

.navbar-links-container a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 0 10px;
  color: rgb(32, 31, 31);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links-container a:hover {
  color: #e70a0a;
}

.navbar-cart-icon a {
  transition: color 0.3s;
}

.navbar-cart-icon:hover {
  animation: text-animation 0.5s forwards;
  color: #007bff;
}

@keyframes text-animation {
  0% {
    transform: scale(1);
    letter-spacing: normal;
  }
  50% {
    transform: scale(1.2);
    letter-spacing: 2px;
  }
  100% {
    transform: scale(1);
    letter-spacing: normal;
  }
}

.btnsmanager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.primary-button {
  padding: 0.9rem 1.75rem;
  width: 150px;
  background-color: rgb(129, 224, 106);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  box-shadow: 0 4px 4px rgba(41, 49, 58, 0.2);
}

.primary-button:hover {
  background-color: rgb(234, 234, 234);
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}
.navbar-menu-container {
  display: none;
}

.searchcontent {
  display: flex;
  flex-direction: row;
}

.search {
  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.nav-logo-container {
  max-width: 200px;
}

.navbar-cart-icon {
  font-size: 30px;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }

  .navbar-cart-icon {
    font-size: 25px;
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
}

/* navbar section ends here */

/* Home section starts here */
.home-container {
  height: 101vh;
  margin-top: -11vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home-banner-container {
  position: relative;
  display: flex;
}

.home-bannerImage-container {
  position: absolute;
  top: -320px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}
.home-image-section {
  max-width: 600px;
  height: 600px;
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.home-image-section img {
  max-width: 800px;
  height: 500px;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.animate-pop-in {
  animation: pop-in 0.6s ease-out forwards;
}

@keyframes pop-in {
  from {
    opacity: 0;
    transform: translate(-4rem) scale(0.8);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.primary-heading {
  opacity: 0;
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  max-width: 600px;
  animation-delay: 0.6s;
}

.primary-text {
  opacity: 0;
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
  animation-delay: 1s;
}

.secondary-button {
  /* opacity: 0; */
  padding: 1rem 2.5rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-delay: 1s;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: #e2ae5f;
}

@media (max-width: 1000px) {
  .home-bannerImage-container {
    max-width: 600px;
  }
}

@media (max-width: 800px) {
  .home-bannerImage-container {
    max-width: 450px;
  }
  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .about-section-container {
    margin-top: 5rem !important;
  }
  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }
  .primary-subheading {
    text-align: center;
  }
  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }
  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }
  .about-section-image-container {
    margin-right: 0rem !important;
  }
  .work-section-wrapper {
    margin-top: 5rem !important;
  }
  .work-section-bottom {
    margin-top: 1rem !important;
  }
  .contact-form-container {
    padding: 0.5rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }
  .contact-form-container input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }

  .footer-wrapper {
    flex-direction: column;
  }
  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }
  .footer-section-columns {
    margin: 1rem 0rem;
  }
  .App {
    max-width: 95vw;
  }
}

/* Home section ends here */

/* about section starts here */

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

.about-section-container {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  width: 90%;
  height: 120svh;
}

.about-background-image-container {
  position: absolute;
  top: 640px;
  left: -50px;
  z-index: -2;
}

.about-section-image-container {
  flex: 0.9;
  height: 600px;
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  gap: 20px;
}

.k1 {
  height: 90%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.k11 {
  height: 60%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 12px 2px rgba(0, 123, 255, 0.2);
}

.k12 {
  height: 38%;
  border-radius: 10px;
  box-shadow: 0 4px 12px 2px rgba(0, 123, 255, 0.2);
}

.about-section-text-container {
  flex: 1;
  display: flex;
  height: 600px;
  margin-top: -3rem;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
  border-radius: 15px;
}

.a1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-heading {
  font-size: 50px !important;
  width: 80%;
  align-self: center;
  padding: 2rem 0.5rem;
}
.about-text {
  align-self: center;
  width: 80%;
  font-size: 20px !important;
  padding: 0 0.5rem;
}

.img1 {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
}

.img2 {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
}

.img3 {
  height: 420px;
  margin-top: -2rem;
}

.img4 {
  height: 320px;
  min-width: 250px;
}

/* about section ends here */

/* 44js starts here */
.work-section-wrapper {
  margin-top: 10rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes slideee {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.blackscarf {
  margin-top: -4rem;
  width: 130%;
  height: 200px;
  border-radius: 50% 50% 0px 0px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 15%;
  background-color: rgba(22, 24, 26, 0.5);
}

.infox {
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(22, 24, 26, 0.5);
}

.infox2 {
  height: 120svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.7);
}

.b113 {
  font-size: 80px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 500px;
  height: 500px;
  opacity: 0;
}

.texthighlight {
  color: #c9e113;
  box-shadow: 0 14px 12px 2px rgba(255, 255, 255, 0.2);
}

.infoximg {
  width: 800px;
  height: 800px;
}

.d101 {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
}

.d102 {
  position: fixed;
  top: 100px;
  right: 100px;
  width: 200px;
  height: 200px;
}
.d103 {
  position: fixed;
  bottom: 50px;
  left: 200px;
  width: 400px;
  height: 500px;
  z-index: 10;
}
.d104 {
  position: fixed;
  bottom: 100px;
  right: 100px;
  width: 200px;
  height: 200px;
}
.d105 {
  position: fixed;
  bottom: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
}

/* text animation  */

@keyframes translater {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translate(0px);
  }
}

.b113.translate {
  animation: translater 0.6s ease-in-out;
  opacity: 1;
}

@keyframes translater2 {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translate(0px);
  }
}

.b113.translate2 {
  animation: translater2 0.6s ease-in-out;
  opacity: 1;
}

@keyframes abtext {
  0% {
    opacity: 0;
    transform: translateX(100px);
    scale: 0.5;
  }
  50% {
    opacity: 0.5;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.block2 {
  animation: abtext linear;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}

@keyframes abtext2 {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.block3 {
  animation: abtext2 linear;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}

/* 44js ends here */

/* 55js starts here */

.infobox501 {
  width: 100svw;
  height: 280svh;
  background-color: rgba(0, 0, 0, 0.8);
}

.textbox501 {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100svh;
}
@keyframes appear2 {
  from {
    opacity: 0;
    scale: 0.8 1;
    rotate: 180deg;
  }
  to {
    opacity: 1;
    scale: 1 1;
    rotate: 0deg;
  }
}

.textslider1 {
  margin-top: 10rem;
  width: 100%;
  height: 150px;
  transform-origin: right;
  animation: appear2 linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.textbox5011 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  gap: 40px;
}

.textbox5011 h2 {
  font-size: 180px;
  color: #fff;
  text-align: center;
}

.textbox5011 h3 {
  font-size: 100px;
  color: #fff;
  text-align: center;
}

.textbox5011 h4 {
  font-size: 90px;
  color: #fff;
  text-align: center;
}

.imzoombox501 {
  position: absolute;
  width: 100svw;
  height: 160svh;
}

.imzoombox502 {
  width: 100svw;
  height: 100svh;
}

.imzoombox503 {
  width: 100svw;
  height: 60svh;
}

.imzoombox5011 {
  position: absolute;
  top: 150px;
  left: 390px;
  width: 200px;
  height: 200px;
}

.imzoombox5012 {
  position: absolute;
  top: 150px;
  right: 390px;
  width: 200px;
  height: 200px;
}

.imzoombox5013 {
  position: absolute;
  top: 250px;
  left: 38%;
  width: 350px;
  height: 300px;
  z-index: 5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imzoombox5013 img {
  width: 220px;
  height: 220px;
  z-index: 55;
}

.imzoombox5013 h2 {
  position: absolute;
  top: 130px;
  right: 60px;
  width: 50px;
  height: 20px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  z-index: 2;
  opacity: 0;
}

.barchart {
  opacity: 0;
  position: absolute;
  top: 150px;
  right: 5px;
  width: 100px;
  height: 60px;
  border-radius: 8px;
  background-color: rgba(245, 239, 239, 0.4);
  z-index: 2;
}

.vegchart {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chartsvg {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.carb101 {
  position: absolute;
  top: 11px;
  margin-left: 32px;
  left: -0.5rem;
  width: 40px;
  height: 5px;
  background-color: rgb(192, 46, 46);
}

.prot101 {
  position: absolute;
  top: 27px;
  margin-left: 31px;
  left: -0.5rem;
  width: 20px;
  height: 5px;
  background-color: rgb(157, 159, 62);
}

.fat101 {
  position: absolute;
  top: 43px;
  margin-left: 31px;
  left: -0.5rem;
  width: 8px;
  height: 5px;
  background-color: rgb(59, 59, 59);
}

.chartsvg h2 {
  margin-top: -7.5rem;
  font-size: 6px;
  color: white;
}
.chartsvg2 h2 {
  margin-top: -6.5rem;
  left: -10px;
  font-size: 6px;
  color: white;
}
.chartsvg3 h2 {
  margin-top: -5.5rem;
  left: -9px;
  font-size: 6px;
  color: white;
}

.imzoombox5014 {
  position: absolute;
  top: 32%;
  left: 390px;
  width: 200px;
  height: 200px;
}

.imzoombox5015 {
  position: absolute;
  top: 32%;
  right: 390px;
  width: 200px;
  height: 200px;
}

.infobox502 {
  width: 100svw;
  height: 480svh;
  display: flex;
  flex-direction: column;
  gap: 20svh;
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes slidapear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.blocker {
  animation: slidapear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.infobox5021 {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.infobox502textleft {
  width: 30%;
  height: 40%;
  border-radius: 8px;
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.infobox502textleft h2 {
  width: 70%;
  text-align: left;
  font-size: 34px;
  color: #ffffff;
}

.barchart2 {
  width: 350px;
  height: 220px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgba(245, 239, 239, 0.4);
  border-radius: 24px;
  gap: 20px;
}
.chartfoodd {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.chartfoodd2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.barchart2 h2 {
  font-size: 25px;
  margin-left: 25px;
}

.carb102 {
  width: 110px;
  height: 15px;
  background-color: rgb(192, 46, 46);
  margin-left: -18px;
}
.prot102 {
  width: 150px;
  height: 15px;
  background-color: rgb(157, 159, 62);
  margin-left: -45px;
}
.fat102 {
  width: 70px;
  height: 15px;
  background-color: rgb(59, 59, 59);
  margin-left: -12px;
}
.chartfoodd2 h2 {
  font-size: 25px !important;
}
.carb103 {
  width: 30px;
  height: 15px;
  background-color: rgb(192, 46, 46);
  margin-top: 3px;
  margin-left: -2px;
}
.prot103 {
  width: 80px;
  height: 15px;
  background-color: rgb(157, 159, 62);
  margin-top: 3px;

  margin-left: -15px;
}
.fat103 {
  width: 220px;
  height: 15px;
  background-color: rgb(59, 59, 59);
  margin-top: 3px;

  margin-left: -60px;
}

.carb104 {
  width: 10px;
  height: 15px;
  background-color: rgb(192, 46, 46);
  margin-top: 3px;
  margin-left: 2px;
}
.prot104 {
  width: 250px;
  height: 15px;
  background-color: rgb(157, 159, 62);
  margin-top: 3px;
  margin-left: -70px;
}
.fat104 {
  width: 80px;
  height: 15px;
  background-color: rgb(59, 59, 59);
  margin-top: 3px;
  margin-left: -20px;
}

.carb102 {
  width: 80px;
  height: 15px;
  background-color: rgb(192, 46, 46);
  margin-top: 3px;
  margin-left: -12px;
}
.prot102 {
  width: 180px;
  height: 15px;
  background-color: rgb(157, 159, 62);
  margin-top: 3px;

  margin-left: -45px;
}
.fat102 {
  width: 80px;
  height: 15px;
  background-color: rgb(59, 59, 59);
  margin-top: 3px;

  margin-left: -12px;
}

.infobox502textright {
  width: 30%;
  height: 40%;
  border-radius: 8px;
  margin-right: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.infobox502textright h2 {
  width: 70%;
  text-align: left;
  font-size: 34px;
  color: #ffffff;
}

.infobox502img {
  width: 60%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infobox502img img {
  width: 700px;
  height: 700px;
}

/* 55js ends here */

/* 66js starts here */
.containerx {
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.carouselcontainerx {
  width: 90%;
  height: 85%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(16px);
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(182, 16, 71, 0.2);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.carouselx {
  width: 38rem;
  height: 38rem;
  position: absolute;
  border-radius: 100%;
  top: -300px;
  left: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(135deg);
  transition: rotate 1s;
  border: 40px solid rgba(204, 83, 12, 0.5);
}

.slidex {
  width: 22rem;
  position: absolute;
}

.slidex:nth-child(1) {
  top: -200px;
}

.slidex:nth-child(2) {
  left: 400px;
}

.slidex:nth-child(3) {
  right: 400px;
}

.slidex:nth-child(4) {
  bottom: -200px;
}

.slidex img {
  width: 100%;
  object-fit: cover;
}

.carousely {
  position: absolute;
  bottom: 10px;
  width: 70%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.carousely .asss {
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100% 100% 100% 100%;
  cursor: pointer;
}

.carousely .active {
  background-color: rgba(247, 239, 239, 0.5);
  box-shadow: 0 0 20px 20px rgba(129, 120, 138, 0.2);
}

.carousely .asss:hover {
  background-color: rgba(138, 12, 12, 0.3);
  box-shadow: 0 0 20px 20px rgba(129, 120, 138, 0.2);
}

.carousely .asss img {
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.carouselz {
  position: absolute;
  top: 160px;
  right: 50px;
  width: 440px;
  height: 240px;
  border-radius: 20px;
  box-shadow: 0 0 8px 8px rgba(129, 120, 138, 0.2);
}
.z1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  background-color: rgb(236, 236, 236);
  opacity: 0;
  transition: opacity 1s, transform 1s;
}
.z2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(16, 95, 206);
  background-color: rgb(190, 226, 59);
  opacity: 0;
  transition: opacity 1s, transform 1s;
}
.z3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 247, 0);
  background-color: rgb(14, 211, 145);
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

.z4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(41, 44, 42);
  opacity: 1;
  transition: opacity 1s, transform 1s;
  color: white;
}
.foodinfoo {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

.z4 h2 {
  color: white;
}
/* 66js ends here */

.contact-page-wrapper h1 {
  max-width: 900px !important;
}
.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
}
.contact-form-container {
  background-color: white;
  max-width: 700px;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5rem;
}
.contact-form-container input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

.footer-wrapper {
  width: 100%;
  margin: 6rem 0rem;
  display: flex;
  color: rgba(252, 254, 255, 0.8);
  background-color: #195286;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;
}
.footer-logo-container {
  max-width: 110px;
}
.footer-icons {
  margin-top: 2.5rem;
}
.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #e1e1e1;
}
/* .footer-section-one {
  border: 2px solid blue;
} */
.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}
.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #e7e7e7;
  cursor: pointer;
}
.testimonial-section-bottom {
  margin-top: 2rem;
  background-color: white;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
}
.testimonial-section-bottom {
  margin: 2rem auto;
}
.testimonial-section-bottom p {
  font-weight: 700;
  color: #515151;
  max-width: 500px;
  font-size: 1.1rem;
  margin: 2rem 0rem;
}
.testimonials-stars-container svg {
  margin: 0rem 0.25rem;
  font-size: 1.5rem;
  color: #fe9e0d;
}
.testimonial-section-bottom h2 {
  margin-top: 1.5rem;
}

@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
}

.am {
  height: 100svh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.aa {
  background-color: rgb(155, 109, 109);
}

.bb {
  background-color: rgb(116, 17, 17);
}

.cc {
  background-color: rgb(211, 197, 9);
}

.dd {
  background-color: rgb(15, 65, 158);
}

/* register page starts */
.Loginsignup {
  width: 100svw;
  height: 100svh;
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginform {
  position: absolute;
  width: 80%;
  height: 90%;
  background-color: rgba(237, 241, 245, 0.4);
  border-radius: 20px;
  backdrop-filter: blur(16px);
  box-shadow: 0 4px 12px rgba(182, 16, 71, 0.2);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup1 {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.signupbtn {
  width: 150px;
  height: 50px;

  left: 45%;
  bottom: 20px;
  border-radius: 10px;
  border: none;
  background-color: #f57575;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.signupbtnfront {
  position: absolute;
  bottom: 20px;
  z-index: 2;
}

.signupbtnback {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.signupbtn:hover {
  background-color: #e30505;
}

.signblock {
  display: none !important;
}

.signup11 {
  width: 450px;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.signup11 input {
  width: 100%;
  height: 50%;
  padding: 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  color: rgb(8, 8, 8);
  font-size: 20px;
}

.gendercheck {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.genderr {
  width: 200px;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.genderchoose {
  width: 80px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(249, 17, 17, 0.4);
  cursor: pointer;
}

.genderchoose:hover {
  background-color: rgba(207, 101, 101, 0.4);
}

.gchecked {
  border: 3px solid #195286;
  background-color: #247aca !important;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.healthgoals {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.reasoncheck {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.goalcheck {
  width: 200px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(249, 17, 17, 0.4);
  cursor: pointer;
}

.goalcheck:hover {
  background-color: red;
}

.healthissues {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
}

.hselect {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 20px;
}
.hselect1 {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 20px;
}
.hissues {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: rgba(138, 12, 12, 0.3);
  z-index: 5;
  cursor: pointer;
  border-radius: 8px;
}

.hissues1 {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(138, 12, 12, 0.3);
  z-index: 5;
  cursor: pointer;
  border-radius: 8px;
}

.hissues:hover {
  background-color: rgba(138, 12, 12, 0.6);
}

.hissues1:hover {
  background-color: rgba(138, 12, 12, 0.6);
}

.regbackbtn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* register ends */

/* login starts */

/* login ends */

/* calculate starts */
.calc1 {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  background-color: rgba(20, 102, 190, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.calc1 h2 {
  color: white;
  font-size: 80px;
}
.calcresult {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-size: 45px;
}

.calc1:hover {
  background-color: rgba(20, 102, 190, 0.8);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
}

.loginform1 {
  position: absolute;
  width: 50%;
  height: 80%;
  background-color: rgba(237, 241, 245, 0.4);
  border-radius: 20px;
  backdrop-filter: blur(16px);
  box-shadow: 0 4px 12px rgba(182, 16, 71, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hkkh1 {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
/* calculate ends */

/* recomendation starts here */

.recomender {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100svh;
  width: 100svw;
}
.recbutton {
  width: 200px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(249, 17, 17, 0.4);
  cursor: pointer;
}
.recomendedmeal {
  width: 60%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: rgba(20, 102, 190, 0.4);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  border-radius: 20px;
}
.blockrec {
  display: none;
}

.RECC {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  background-color: rgba(20, 102, 190, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* recomendation ends here */

/* 77.js starts */

.aitemp {
  width: 100svw;
  height: 200svh;
}
.aitemp1 {
  width: 100svw;
  height: 100svh;
  display: flex;
}
.ai11 {
  opacity: 0;
  position: relative;
  top: 200px;
  left: 50px;
  width: 300px;
  height: 80px;
  font-size: 50px;
}
.ai12 {
  position: relative;
  top: 300px;
  right: -700px;
  width: 400px;
  height: 250px;
  background-color: #101d29;
  border-radius: 15px;
}

.ai21 {
  position: relative;
  top: 300px;
  left: 100px;
  width: 400px;
  height: 250px;
  background-color: #96c7f5;
  border-radius: 15px;
}

.ai22 {
  position: relative;
  top: 250px;
  opacity: 0;
  right: -700px;
  width: 400px;
  height: 80px;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
}

.aboutter {
  background-color: #101d29;
}
.aitemp2 {
  width: 100svw;
  height: 300svh;
  background-color: #101d29;
}

.attempth1 {
  position: relative;
  top: 20px;
  left: 40%;
  width: 400px;
  height: 80px;
  font-size: 80px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.aitemp3 {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  position: sticky;
  top: 250px;
  left: 575px;
  z-index: 5;
}

/* .myimage img {
  width: 50%;
  height: 10%;
} */

.myinfo h2 {
  font-size: 50px;
  color: white;
  opacity: 0;
}
.aitemp31 {
  width: 250px;
  height: 300px;
  border-radius: 20px;
  position: sticky;
  top: 150px;
  left: 250px;
  margin-top: -380px;
}
.aitemp32 {
  width: 250px;
  height: 300px;
  border-radius: 20px;
  position: sticky;
  top: 150px;
  left: 1000px;
  margin-top: -300px;
}

.aitemp33 {
  width: 250px;
  height: 300px;
  border-radius: 20px;
  position: sticky;
  top: 480px;
  left: 250px;
  margin-top: 40px;
}

.aitemp34 {
  width: 250px;
  height: 300px;
  border-radius: 20px;
  position: sticky;
  top: 480px;
  left: 1000px;
  margin-top: -350px;
}

.aitemptarg1 {
  position: relative;
  top: 50px;
  left: 100px;
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.aitemptarg2 {
  position: relative;
  top: 600px;
  right: -100px;
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.aitemp4 {
  width: 100svw;
  height: 420svh;
  background-color: #101d29;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aitemp41 {
  width: 100svw;
  height: 20svh;
}

.aitemp4x {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83svw;
  height: 80svh;
  border-radius: 40px;
  margin-top: 10rem;
  gap: 25rem;
}
.myinfo2 h2 {
  font-size: 100px;
  color: white;
}

/* 77.js ends */

/* 
admin starts */

.admin101 {
  position: fixed;
  top: 100px;
  left: 20px;
  width: 20svw;
  height: 80svh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: rgba(185, 19, 19, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 6px 5px rgba(20, 21, 22, 0.2);
}
.admin102 {
  position: absolute;
  top: 10px;
  right: 20px;
  bottom: 50px;
  width: 75svw;
  min-height: 90svh;
  max-height: fit-content;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 8px 8px rgba(103, 122, 145, 0.2);
  bottom: 50px;
}

.adm {
  width: 100%;
  height: 15%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 8px;
}
.adm:hover {
  background-color: #a4a7ab;
}

.admx {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 20px;
  background-color: rgba(41, 99, 173, 0.5);
  border-radius: 10px;
}

.admactive {
  width: 100%;
  height: 15%;
  background-color: #5493ce;
  border-radius: 8px;
}
.admlogout:hover {
  background-color: red;
}

.usercharts {
  height: 52svw;
}
.auchart1 {
  position: fixed;
  top: 50px;
  left: 40px;
  margin-top: 50px;
  width: 650px;
  height: 320px;
  background-color: rgba(228, 204, 204, 0.6);
  border-radius: 10px;
}
.auchart1 select {
  position: absolute;
  top: 10px;
  left: 35%;
  width: 200px;
  height: 30px;
  font-size: 20px;
  display: block;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  z-index: 5;
}

.auchart2 {
  position: fixed;
  top: 100px;
  right: 20px;
  width: 350px;
  height: 300px;
  background-color: rgba(247, 238, 238, 0.6);
  border-radius: 10px;
}

.auchart3 {
  position: fixed;
  top: 440px;
  left: 100px;
  width: 400px;
  height: 300px;
  background-color: #444b54;
  border-radius: 10px;
}

.auchart4 {
  position: fixed;
  top: 440px;
  right: 50px;
  width: 470px;
  height: 280px;
  background-color: #a4a7ab;
  border-radius: 10px;
}

.usereditor {
  position: fixed;
  top: -30px;
  left: 25%;
  margin-top: 50px;
  width: 560px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 6;
}
.usereditorinput {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 20px;
  background-color: #acc7ea;
}
.usereditorinput3 {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  background-color: #acc7ea;
}
.usereditorbtn {
  width: 100px;
  height: 40px;
  background-color: #4b9042;
  color: white;
  border-radius: 8px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
.usereditorbtn:hover {
  background-color: white;
  color: black;
}

.adminusershow {
  position: fixed;
  top: 30px;
  left: 15%;
  margin-top: 50px;
  width: 760px;
  height: 600px;
  background-color: rgba(244, 232, 232, 1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 6;
}

.adminusershowcancel {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.adminusershow1 {
  width: 600px;
  height: 500px;
  background-color: #aeb3b6;
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  overflow: auto;
}
.checkmuj {
  width: 500px;
  height: 100px;
  background-color: #3489c1;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.foodbtnsgap {
  display: flex;
  gap: 10px;
}

.editfoodbtn {
  width: 60px;
  height: 40px;
  background-color: #39dd24;
  color: rgb(8, 7, 7);
  border-radius: 8px;
  box-shadow: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.editfoodbtn:hover {
  background-color: white;
  color: black;
}
.deletefoodbtn {
  width: 60px;
  height: 40px;
  background-color: rgb(37, 46, 216);
  color: rgb(236, 230, 230);
  border-radius: 8px;
  box-shadow: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.deletefoodbtn:hover {
  background-color: rgb(193, 12, 12);
  color: rgb(245, 241, 241);
}
.foodcharts {
  height: 52svw;
}

.afchart1 {
  position: fixed;
  top: 90px;
  left: 50px;
  width: 350px;
  height: 300px;
  background-color: #df8f71;
  border-radius: 10px;
}

.afchart2 {
  position: fixed;
  top: 90px;
  right: 50px;
  width: 610px;
  height: 300px;
  background-color: #cccfd1;
  border-radius: 10px;
}

.afchart3 {
  position: fixed;
  top: 400px;
  left: 50px;
  width: 350px;
  height: 300px;
  background-color: #e0a1c9;
  border-radius: 10px;
}

.afchart4 {
  position: fixed;
  top: 400px;
  right: 70px;
  width: 550px;
  height: 320px;
  background-color: #3375cd;
  border-radius: 10px;
}

.adminmail {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  flex-direction: column;
  gap: 100px;
}

/* 
admin ends */

@keyframes fadein {
  0% {
    scale: 0 1;
    opacity: 0;
  }
  100% {
    scale: 1 1;
    opacity: 1;
  }
}

.fader {
  opacity: 1;
  scale: 1 1;
  transform-origin: left;
  animation: fadein linear;
  animation-timeline: scroll();
  animation-range: entry 0 cover 50%;
}
